.image {
	display: flex;
	height: 500px;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url("/home/lubin/bcoin-bitcrypt-gang/browser/src/agnes/src/images/home-background.png");
}
.center-form {
	margin: 15px;
	padding: 15px;
	width: 30em;
	text-align: justify;
	height: 50%;
	width: 50%;
	position: right;
	top: 50%;
	background-color: lightcyan;
}
.card-container {
	margin: 25px;
}
